#layerout div{
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 60px;
	font-size: 16px;
}
#layerout input{
	height: 24px;
	border: 1px solid #3E699D;
}
#layerout{
	width: 420px;
}
.cc{
	margin-left: 166px;
}
	